<mat-toolbar background="accent" fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="start center">
    <img src="Logo.png" alt="Logo" class="logo" />
  </div>
  <span class="spacer"></span>
  <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center">
    <a
      routerLink="/lista-de-compras"
      fxLayoutGap="1rem"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <mat-icon fontIcon="shopping_cart"></mat-icon>
    </a>
    <a
      routerLink="/lista-de-desejos"
      fxLayoutGap="1rem"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <mat-icon fontIcon="favorite"></mat-icon>
    </a>
  </div>
</mat-toolbar>
